#field{
    background-color: gold;
    width: 350px;
}
.active{
    color: red;
}
#citiesPerson{
    font-size: 20px;
    color: purple;
}
#citiesComp{
    font-size: 20px;
    color: rebeccapurple;
}